.taskcontainer {
    max-width: 400px;
    width: 30%;
    float: left;
    padding-left: 2%;
}

.tasklist {
    background: #EEE;
    list-style-type: none;
    height: 381px;
    overflow: auto;
}

.delete {
    float: right;
    width: 25px;
    height: 25px;
}
.edit {
    float: left;
    width: 25px;
    height: 25px;
}

.menu {
    width: 35px;
    position: relative;
    float: right;
    margin-top: -49px;
}
.add{
     width: 35px;
    position: relative;
    float: right;
    margin-top: -49px;
    margin-right: 39px;
}
.newboard {
    margin-left:35px;
}
.dialog {
    width: 500px;
    height: 600px;
}
#createdDate {
    clear: both;
}

.addtrack{
     width: 35px;
    position: relative;
    float: right;
    margin-bottom: 49px;
    margin-right: 39px;
}

.newtracklist {
    margin-bottom: 49px;
}

@media only screen and (max-width: 800px) {
    .taskcontainer {
        max-width: 400px;
        width: 95%;
        float: none;
        padding-left: 1%;
    }
}
