@model GetItDone.DAL.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="https://api.trello.com/1/client.js?key=e3da5185d8b29c21996f793a5dd0ef06"></script>
    <script src="~/Scripts/Login.js"></script>
    
</head>
<body>
    <a id="loginTag" href="">Log Into Trello</a>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
    }
    

</body>
</html>
